.newProject-modal__container {
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  max-height: 100%;
  overflow: scroll;
  z-index: 3;
  transition: all 0.25s ease-out;
  display: grid;
}

.newProject-modal {
  padding: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 200px;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #000;
  border-radius: 30px;
}
.newProject-modal__main-text{
  margin-top: 20px;
}

.newProject-modal__text {
  display: flex;
  color: #818089;
  font-family: 'Circular Std';
  font-size: 12px;
  font-weight: 300;
  letter-spacing: 0;
  line-height: 16px;
  text-align: left;
}
.newProject-modal__text span{
  text-transform: capitalize;
}

.newProject-modal__title {
  color: #ffffff;
  font-family: 'Schnyder Wide L Web';
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 28px;
  text-align: center;
}



.create-project-modal__brand, .create-project-modal__project-name{
  width:100%;
  overflow:hidden;
  position: relative;
  border-bottom: 1px solid #fff;
  margin: 0 20px 20px 0;
  display: grid;
  grid-template-columns: 30% 70%;
}
.create-project-modal__project-name{
  grid-template-columns: 45% 55%;
}
.create-project-modal__brand__input{
  background-color: transparent;
  border: none;
  outline: 0;
  width: 90%;
  min-height: 40px;
  color: #fff;
  position: relative;
  bottom: 0px;
  padding: 0 5px;
}

.create-project-modal__project-name__input{
  background-color: transparent;
  border: none;
  outline: 0;
  width:90%;
  min-height: 40px;
  color: #fff;
  position: relative;
  bottom: 0px;
}


.create-project-modal__brand__label, .create-project-modal__project-name__label{
  position:relative;
  top: 30%;
  color: #818089;
  font-family: 'Circular Std';
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0;
  line-height: 16px;
}

.create-project-modal__project-date{
  max-width: 200px;
  display: grid;
  grid-template-columns: 45% 45%;
  grid-column-gap: 10%;
}
.create-project-modal__start-date, .create-project-modal__end-date{
  border-bottom: 1px solid #fff;
}

.create-project-modal__start-date__input, .create-project-modal__end-date__input{
  max-width: 50%;
  margin-left: 5px;
  background-color: transparent;
  border: none;
  outline: 0;
  min-height: 40px;
  color: #fff;
  position: relative;
}


.create-project-modal__start-date__input::placeholder, 
.create-project-modal__end-date__input::placeholder{
  color:#5F5D67;
  font-size: 12px;
}

.newProject-modal__button {
  justify-content: center;
  align-items: center;
  display: flex;
  margin: 30px auto 0px auto;
  text-align: center;
  height: 32px;
  width: 71px;
  border-radius: 16px;
  background-color: #44d7b6;
  font-size: 14px;
  font-family: 'Circular Std';
  padding: 0px 5px 0px 5px;
  color:#000000;
  border:none;
}


.newProject-modal__button-cancel{
  justify-content: center;
  align-items: center;
  display: flex;
  margin: 15px auto 0px auto;
  text-align: center;
  border-radius: 16px;
  font-size: 12px;
  font-family: 'Circular Std';
  padding: 0px 5px 0px 5px;
  color: #fff;
  border:none;
  background-color: transparent;
}

